img{
    width: 30%;
    margin-left: 35%;
}

.p1{
    width: 80%;
    margin: 30px 0 0 10%;
}

.p2{
    width: 80%;
    margin: 30px 0 30px 10%;
}

table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th, td{
    padding: 10px;
}

.p3{
    width: 80%;
    margin: 30px 0 0 10%;
}

ol{
    padding: 0 0 0 12%;
}